.App{

    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    margin: 0;
    background-color: $light-prim;

    height: 100vh;

    &--dark{
        background-color: $dark-secd;
        
        color: $light-prim;
    }

    &__toolbar{
        // background-color: $light-secd;
        padding-top: 1rem;
        margin-bottom: 1rem;

        width: 100vw;
    }

    &__title{
        margin: 0;
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 0.5rem;
        margin-left: 1rem;
    }

    &__search-cont{
        box-sizing: border-box;
        margin: 0 1rem;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $light-secd;

        height: 2.5rem;

        border-radius: 25px;

        &--dark{
            background-color: $dark-prim;

            color: $light-secd;
        }
    }

    &__search-icon{
        padding-right: 0.5rem;
        padding-left: 1rem;
    }

    &__dyna-search{
        font-family: 'Quicksand', sans-serif;
        font-size: 1rem;

        height: 100%;
        width: 100%;

        background:none;

        border: none;
        outline: none;

        &--dark{
            color: $light-secd;
        }

    }

    &__add-supercont{
        position: absolute;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        bottom: 3%;
    }

    &__add-cont{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        height:3rem;

        border-radius: 25px;

        background-color: $light-prim;

        box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.27);

        &--dark{
            background-color: $dark-prim;
            color: $light-prim;
        }
    }

    &__add-btn, &__theme-btn{
        font-size: 1.5rem;
        margin: 0.25rem 0;
        // margin-left: -.7rem;
        background: none;
        border-radius: 100%;
        height: 3rem;
        width: 3rem;
        outline: none;
        border: none;
    }

    &__theme-btn{
        font-size: 1rem;
        box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.27);
        margin-left: 1rem;

        background: $light-prim;

        &--dark{
            background: $dark-prim;
        }
    }

    &__add-icon, &__theme-icon{
        margin-bottom: -.25rem;

        &--dark{
            color: $light-prim;
        }
    }

    &__color-select{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__color-btn--blue, &__color-btn--red, &__color-btn--yellow, &__color-btn--green{
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 100%;
        outline: none;
        border: none;
        margin:0.13rem;

        transition: 0.2s;

        &:hover{
            margin-top: -.5rem;
        }
    }

    &__color-btn{
        &--blue{
            background-color: $note-blue;
        }

        &--red{
            background-color: $note-red;
        }

        &--yellow{
            background-color: $note-yellow;
        }

        &--green{
            background-color: $note-green;
            margin-right: 0.75rem;
        }
    }

    &__main{
        display: flex;
        flex-direction: column;
        align-items: center;

        height:73vh;
        width: 100%;

        overflow-y: scroll;
    }

    @media only screen and (min-width: 500px){
        .App{
            &__main{
                width: 100%;

                display: grid;
                grid-template-columns: repeat(2, minmax(0,1fr));
                align-items: baseline;
                justify-items: center;
            }
        }
    }
}