.App{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    align-items: center;

    margin: 0;
    background-color: $light-prim;

    height: 100vh;
    width: 100vw;

    transition: 0.1s cubic-bezier(0.65,0.05,0.36,1);
    &--dark{
        background-color: $dark-secd;
        
        box-shadow: inset 0 100vh 0 0 $dark-secd;

        color: $light-prim;
    }

    &__toolbar{
        padding-top: 1rem;
        margin-bottom: 1rem;

        width: 100vw;
    }

    &__title{
        margin: 0;
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 0.5rem;
        margin-left: 1rem;
    }

    &__search-cont{
        box-sizing: border-box;
        margin: 0 1rem;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $light-secd;

        height: 2.5rem;

        border-radius: 25px;

        &--dark{
            background-color: $dark-prim;

            color: $light-secd;
        }
    }

    &__search-icon{
        padding-right: 0.5rem;
        padding-left: 1rem;
    }

    &__dyna-search{
        font-family: 'Quicksand', sans-serif;
        font-size: 1rem;

        height: 100%;
        width: 100%;

        background:none;

        border: none;
        outline: none;

        &--dark{
            color: $light-secd;
        }

    }

    &__add-supercont{
        position: absolute;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        bottom: 3%;
        
    }

    &__add-cont{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        height:3rem;

        border-radius: 25px;

        background-color: $light-prim;

        box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.27);

        transition: 0.05s cubic-bezier(0.65,0.05,0.36,1);

        &--dark{
            background-color: $dark-prim;
            color: $light-prim;
        }
    }

    &__add-btn, &__theme-btn{
        font-size: 1.5rem;
        margin: 0.25rem 0;
        background: none;
        border-radius: 100%;
        height: 3rem;
        width: 3rem;
        outline: none;
        border: none;
    }

    &__theme-btn{
        font-size: 1rem;
        box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.27);
        margin-left: 1rem;

        background: $light-prim;

        &--dark{
            background: $dark-prim;
        }
        
    }

    &__add-icon, &__theme-icon{
        margin-bottom: -.25rem;

        &--dark{
            color: $light-prim;
        }
    }

    &__color-select{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        overflow-x: hidden;
        
    }

    &__color-btn--blue, &__color-btn--red, &__color-btn--yellow, &__color-btn--green{
        height: 1.75rem;
        min-width: 1.75rem;
        border-radius: 100%;
        outline: none;
        border: none;
        margin:0.13rem;

        transition: 0.2s;

        &:hover{
        transform: scale(1.1);
        box-shadow: 3px 3px 10px -4px rgba(0,0,0,0.27);
        }
    }

    &__color-btn{
        &--blue{
            background-color: $note-blue;
        }

        &--red{
            background-color: $note-red;
        }

        &--yellow{
            background-color: $note-yellow;
        }

        &--green{
            background-color: $note-green;
            margin-right: 0.75rem;
        }
    }

    &__main{
        display: flex;
        flex-direction: column;
        align-items: center;

        max-height:70vh;
        width: 100%;

        border-radius: 15px;

        overflow-y: auto;

        box-sizing: border-box;
    }

    &__no-notes{
        grid-column: 1/span 4;

        display: flex;
        height: 70vh;
        width: 100%;

        justify-content: center;
        align-items: center;

        font-size: 3rem;

        &-logo{
            margin: 0 0.75rem;
            margin-top: 5px;

        }
    }

    &__no-notes p{
        margin: 0;
    }

    &__add-btn-mock{

        margin: 0 0.75rem;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        height:3rem;
        width: 3rem;
        border-radius: 25px;

        background-color: $light-prim;

        box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.27);

        transition: 0.05s cubic-bezier(0.65,0.05,0.36,1);

        &--dark{
            background-color: $dark-prim;
            color: $light-prim;
        }
    }

    &__add-icon-mock{
        margin-top: 0.25rem;
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 425px){
    .App{
        &__main{

            display: grid;
            grid-template-columns: repeat(2, minmax(0,1fr));
            grid-column-gap: 0.5rem;
            align-items: baseline;
            justify-items: center;

            padding: 0 1rem;
        }
    }
}

@media only screen and (min-width: 600px){
    .App{
        &__title{
            margin-left: 7%;
        }

        &__search-cont{
            margin: 0 7%;
        }

        &__main{
            padding: 0 7%;
        }
    }
}

@media only screen and (min-width: 850px){
    .App{
        &__main{
            grid-template-columns: repeat(3, minmax(0,1fr));
        }
    }
}

@media only screen and (min-width: 1080px){
    .App{
        &__toolbar{
            margin-bottom: 2rem;
        }

        &__main{
            grid-template-columns: repeat(4, minmax(0,1fr));
        }
    }
}