$light-prim: #f9f9fa;
$light-prim10: #f9f9fa1e;
$light-secd: #e2e4e9;
$light-tert: #d2d2d4;

$dark-prim: #1d1f20;
$dark-prim50: #1d1f207a;
$dark-prim25: #1d1f2039;
$dark-secd: #323739;
$dark-secd25: #32373936;
$dark-tert: #0e0f0f;

$note-red: #f76e6e;
$note-green: #73e17d;
$note-blue: #8ba4f3;
$note-yellow: #eded68;

$note-red-dark: #b15353;
$note-green-dark: #5d9d63;
$note-blue-dark: #6778b0;
$note-yellow-dark: #bbbb58;
