$light-prim: #f9f9fa;
$light-secd: #e2e4e9;
$light-tert: #d2d2d4;

$dark-prim: #1d1f20;
$dark-secd: #2a2d2e;
$dark-tert: #0e0f0f;

$note-red: #f76e6e;
$note-green: #73e17d;
$note-blue: #8ba4f3;
$note-yellow: #eded68;
